doctype html
head
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')
  style.
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body(style='background-color:#f4f4f4; border-radius: 10px; padding-top: 20px; padding-bottom: 20px;')
    div(style='border-radius: 10px; max-width: 650px; min-height: 320px; margin: 0 auto; background-color: #1e2d40; border: 1px solid #1e2d40;')
        div(style='width: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;')
            img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Fwaves.png?alt=media&token=5836a847-2714-49fb-af32-eb7da19f25ca' width='100%' height='100%' style='border-top-left-radius: 10px; border-top-right-radius: 10px;')
        div(style='width: 100%; background-color: #1e2d40;')
            div(style='width: 30%; margin: 0 auto')
                img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Flogo.png?alt=media&token=40f63e51-082b-4b07-9439-c4db1e0d6921' width='100%' height='100%')
        div(style='background-color: #1e2d40; padding: 20px;')
            h1(style="color: #fff; font-family:'Roboto'; font-weight: 300; font-size: 20px;") Has recibido un mensaje desde la web de #{pName}
            p(style="color: #fff; font-family:'Roboto'; font-weight: 300; font-size: 14px;") #{pSubject}
            p(style="color: #fff; font-family:'Roboto'; font-weight: 300; font-size: 14px; padding: 15px 0px; margin: 0px;")
                | #{pMessage}
            p(style="color: #fff; font-family:'Roboto'; font-weight: 300; font-size: 14px; padding: 15px 0px; margin: 0px;")
                | Contestar directamente a: 
                a(href=pEmailLink style='text-decoration: none; color: #00ffc3') #{pEmail}
        div(style='background-color: #1e2d40; padding: 0px 20px;')
            div(style='width: fit-content; margin: 15px auto;')
                span
                    a(href='https://www.linkedin.com/in/ignacio-tom%C3%A1s-flor%C3%ADa-b0232b1b1/' target='_blank' style='text-decoration: none;')
                        img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Flinkedin.png?alt=media&token=07130364-3cd0-4979-b7ca-691a42bff9ef' width='30px' height='30px' style='margin: 0px 5px; border-radius: 6px;')
                span
                    a(href='https://github.com/ignaciotomasico12' target='_blank' style='text-decoration: none;')
                        img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Fgithub.png?alt=media&token=8a05a4f9-8649-496a-a216-f0b5b07f95bb' width='30px' height='30px' style='margin: 0px 5px; border-radius: 6px;')
                span
                    a(href='https://www.instagram.com/ignaciotomasico/' target='_blank' style='text-decoration: none;')
                        img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Finstagram.png?alt=media&token=ccb82757-c42b-4f25-8da0-7442d95e3b5c' width='30px' height='30px' style='margin: 0px 5px; border-radius: 6px;')
                span
                    a(href='tel:628085095' target='_blank' style='text-decoration: none;')
                        img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Fwhatsapp.png?alt=media&token=c39bfefa-a0df-40fd-b76b-ffc905f2e189' width='30px' height='30px' style='margin: 0px 5px; border-radius: 6px;')
        div(style='width: 100%; background-color: #1e2d40;')
            div(style='width: 15%; margin: 0 auto')
                a(href='https://www.ignaciotomas.com' target='_blank')
                    img(src='https://firebasestorage.googleapis.com/v0/b/ignacio-tomas.appspot.com/o/resources%2Flogo.png?alt=media&token=40f63e51-082b-4b07-9439-c4db1e0d6921' width='100%' height='100%')
        div(style='background-color: #1e2d40; padding: 20px; margin-bottom: 5px;')
            p(style="color: #fff; font-family:'Roboto'; font-weight: 300; font-size: 12px; text-align: center;")
                | &copy; 2022 Ignacio Tomas. Todos los derechos reservados.
